# Corpus Search - Lexique 3.83

Searches for French words in the corpus using the same methods as for the Greek corpora

In [1]:
import pandas as pd

path = "/Lexique383/Lexique383.tsv"
df = pd.read_csv(path, sep="\t", usecols=range(24))
df = df[['ortho', 'phon', 'nbsyll']]
df.head()

# Want columns ortho, phon, nbsyll

        ortho     phon  nbsyll
0           a        a       1
1           a        a       1
2           a        a       1
3   a capella  akapEla       4
4  a cappella  akapEla       4

In [2]:
disyllabic = df[df['nbsyll'] == 2]
disyllabic.head()

        ortho  phon  nbsyll
8      a jeun   aZ1       2
13         aa    aa       2
25    abaisse  abEs       2
26    abaisse  abEs       2
29  abaissent  abEs       2

In [3]:
L = ['f','v']
# L = ['t','d','k','g']
targets = disyllabic.loc[disyllabic['phon'].str.startswith(tuple(L))]
targets.head()

            ortho    phon  nbsyll
54701     fabiens   fabj5       2
54718    fabrique  fabRik       2
54719    fabrique  fabRik       2
54720  fabriquent  fabRik       2
54729   fabriques  fabRik       2

In [4]:
targets.to_csv('French_fv.txt', sep='\t', index=False)

In [6]:
tg_sub = targets['phon']
word_list = tg_sub.tolist()

pairs_list = list()
for i in range(0, len(word_list)-1):
    a = word_list[i]
    for n in range(0, len(word_list)-1):
        b = word_list[n]
        if a[1:] == b[1:] and a[0] != b[0]:
            pairs_list.append([a, b])

print(pairs_list[:5])

[['fEso', 'vEso'], ['fEso', 'vEso'], ['fEso', 'vEso'], ['fEso', 'vEso'], ['falE', 'valE']]

In [7]:
drop_pairs = list()
for i in pairs_list:
    if i not in drop_pairs:
        drop_pairs.append(i)

file = open("fr_pairs_fv.txt", "w", encoding="utf-8")
for elem in drop_pairs:
    file.write(str(elem) + "\n")
file.close()